table {
  background-color: lightgray;
}

td {
  width: 2em;
  height: 2em;
  padding: 0;
  margin: 0;
}

td.stone {
  border-radius: 50%;
}

td.black {
  background-color: black;
}

td.white {
  background-color: white;
  border-radius: 50%;
}

div.dot {
  width: 1px;
  height: 1px;
  background-color: black;
  margin: 1em;
}
